@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9bxgpq');
  src:  url('fonts/icomoon.eot?9bxgpq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9bxgpq') format('truetype'),
    url('fonts/icomoon.woff?9bxgpq') format('woff'),
    url('fonts/icomoon.svg?9bxgpq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-absensi:before {
  content: "\e900";
}
.icon-agen-ekspedisi:before {
  content: "\e901";
}
.icon-aksesoris:before {
  content: "\e902";
}
.icon-akun:before {
  content: "\e903";
}
.icon-bank:before {
  content: "\e904";
}
.icon-buku-besar:before {
  content: "\e905";
}
.icon-customer-service:before {
  content: "\e906";
}
.icon-diskon:before {
  content: "\e907";
}
.icon-grade-sales:before {
  content: "\e908";
}
.icon-gudang:before {
  content: "\e909";
}
.icon-hari-libur:before {
  content: "\e90a";
}
.icon-hari-raya:before {
  content: "\e90b";
}
.icon-jadwal-service:before {
  content: "\e90c";
}
.icon-jurnal-umum:before {
  content: "\e90d";
}
.icon-jurnal:before {
  content: "\e90e";
}
.icon-karyawan:before {
  content: "\e90f";
}
.icon-kendaraan:before {
  content: "\e910";
}
.icon-laba-rugi:before {
  content: "\e911";
}
.icon-leashing:before {
  content: "\e912";
}
.icon-matching:before {
  content: "\e913";
}
.icon-neraca-saldo:before {
  content: "\e914";
}
.icon-neraca:before {
  content: "\e915";
}
.icon-pelanggan:before {
  content: "\e916";
}
.icon-pembelian:before {
  content: "\e917";
}
.icon-penggajian:before {
  content: "\e918";
}
.icon-penjualan-report:before {
  content: "\e919";
}
.icon-penjualan:before {
  content: "\e91a";
}
.icon-perpindahan-stock:before {
  content: "\e91b";
}
.icon-promosi:before {
  content: "\e91c";
}
.icon-referral:before {
  content: "\e91d";
}
.icon-req-diskon:before {
  content: "\e91e";
}
.icon-req-kendaraan:before {
  content: "\e91f";
}
.icon-retur-kendaraan:before {
  content: "\e920";
}
.icon-sales-n-team:before {
  content: "\e921";
}
.icon-sales-insentif:before {
  content: "\e922";
}
.icon-spk:before {
  content: "\e923";
}
.icon-stock-in:before {
  content: "\e924";
}
.icon-stock-opname:before {
  content: "\e925";
}
.icon-stock-unit:before {
  content: "\e926";
}
.icon-ttbj:before {
  content: "\e927";
}
.icon-tunjangan:before {
  content: "\e928";
}
.icon-ulang-tahun:before {
  content: "\e929";
}
.icon-vendor:before {
  content: "\e92a";
}

